<div class="container-flex">
  <div class="container-flex text-center p-3" >
    <h1><strong>Spacex launchpads</strong></h1>
  </div>
  <mat-divider></mat-divider>
  <div class="row mt-3 ml-3">
    <div class="col-lg-6 col-md-12 d-flex ml-3 justify-content-center">
      <form class="example-form">
        <mat-form-field class="example-form-field">
          <mat-label>Search by region</mat-label>
          <input (keyup)="onRegionInput($event)" [ngModelOptions]="{standalone: true}" matInput placeholder="Search by region" [(ngModel)]="region">
        </mat-form-field>
        <mat-form-field class="example-form-field">
          <mat-label>Search by name</mat-label>
          <input (keyup)="onNameInput($event)" [ngModelOptions]="{standalone: true}" matInput placeholder="Search by name" [(ngModel)]="name">
        </mat-form-field>
      </form>
    </div>
    <div class="col-lg-6 col-md-12 d-flex align-items-center justify-content-center">
      <mat-paginator
        [length]="launchpads.length"
        [pageSize]="pageSize"
        [pageSizeOptions]="pageSizeOptions"
        (page)="onPageChange($event)"
      ></mat-paginator>
    </div>
  </div>
  
<mat-grid-list [cols]="cols" [rowHeight]="rowHeight+'px'" class="mat-grid-list">
  <mat-grid-tile *ngFor="let launchpad of pagedLaunchpads">
    <mat-card fxLayout="column" fxLayoutAlign="center center">
      <mat-card-header class="text-center" fxLayout="column" fxLayoutAlign="center center">
          <mat-card-title>{{ launchpad.name }}</mat-card-title>
          <mat-card-subtitle>Region: {{ launchpad.region }}</mat-card-subtitle>
          <mat-card-subtitle>Status: {{ launchpad.status }}</mat-card-subtitle>
        </mat-card-header>
        <img   [ngStyle]="{ 'width.px': imgSize, 'height.px': imgSize }"
         mat-card-image  src="{{ launchpad.img }}" alt="Photo of a launchpad">
        <mat-card-content></mat-card-content>
        <mat-card-actions>
          <div class="example-button-row">
            <button mat-raised-button [routerLink]="['/lauchpad-component']" [queryParams]="{ id: launchpad.id }">More launchpad details</button>
          </div>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
<footer class="py-3 my-4">
  <p class="text-center text-body-secondary">© Szymon Szwarczyński</p>
</footer>

